body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
#start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* image styling */
.side-image {
  width: 280px;
  max-width: 40%;
  border-radius: 20px;
  object-fit: cover;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100vh;
}

.container img {
    width: 300px;
}


.hidden {
  display: none;
}

#start a {
  font-size: 24px;
  background: white;
  color: #ff4d6d;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.buttons {
  position: relative;
  height: 150px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#yesBtn {
  background: #28a745;
  color: white;
}

#noBtn {
  background: #dc3545;
  color: white;
  position: absolute;
}

.surprise-img {
  width: 250px;
  border-radius: 20px;
  margin: 20px 0;
}

#share {
  display: inline-block;
  background: #25d366;
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  #start {
    flex-direction: column;
  }

  .side-image {
    width: 80%;
  }
}
